<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="infinite.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
</head>
<body>

<div id="app">
    <section class="wrapper">
        <section class="row">
            <button type="button" class="button" @click="toggle('info')">Help</button>
            <button type="button" class="button" @click="toggle('boards')">Load</button>
            <button type="button" class="button" @click="toggle('custom')">Create</button>
            <button type="button" class="button button--secondary" @click="clear">Clear</button>
        </section>
        <div class="board-wrapper">
            <div class="board board--wrapped"
                 :style="{ width: board.width * 4 + 'rem', height: board.height * 4 + 'rem' }">
                <div v-for="(tile, index) in board.tiles"
                     :data-tile="index"
                     :class="tile.type"
                     :style="{ transform: 'rotate(' + tile.direction * 90 + 'deg)' }"
                     @click="change(tile, index)">
                </div>
            </div>
        </div>

        <section class="row">
            <button type="button" class="button button--primary" @click="solve" :disabled="solving">Solve</button>
        </section>
    </section>

    <div v-show="modal === 'boards'"
         @click.self="toggle('boards')"
         class="modal"
         style="display: none;">
        <div class="modal__body">
            <button class="button button--secondary" type="button" @click="toggle('boards')">close</button>
            <div class="board" v-for="(board, index) in boards"
                 :style="{ width: board.width * 4 + 'rem', height: board.height * 4 + 'rem'}"
                 @click="load(index)">
                <div v-for="(tile, index) in board.tiles"
                     :class="type(tile)">
                </div>
            </div>
        </div>
    </div>

    <div v-show="modal === 'info'"
         @click.self="toggle('info')"
         class="modal"
         style="display: none">
        <div class="modal__body modal__body--text">
            <button class="button button--secondary" type="button" @click="toggle('info')">close</button>
            <h1>What am I looking at?</h1>
            <p>This is a solver and generator for the <a href="http://loopgame.co/" target="_blank">&infin;
                Loop</a> game.</p>
            <h1>How does it work?</h1>
            <p><strong>Load:</strong> Choose one of the pre-generated boards. <strong>Create: </strong> Generate a
                completely random board. <strong>Clear: </strong> Remove all tiles and reset to a small size.</p>
            <p>You can change a tile by clicking it. If you'd like to create your own design, create a
                board with a tile-ratio of zero.</p>
        </div>
    </div>

    <div v-show="modal === 'custom'"
         @click.self="toggle('custom')"
         class="modal"
         style="display: none">
        <div class="modal__body">
            <button class="button button--secondary" type="button" @click="toggle('custom')">close</button>
            <div class="row row--vertical">
                <label class="input">
                    Width
                    <input type="number" class="input__control" min="0" v-model.number="custom.width"/>
                </label>
                <span class="input__text">
                &times;
                </span>
                <label class="input">
                    Height
                    <input type="number" class="input__control" min="0" v-model.number="custom.height"/>
                </label>
            </div>
            <div class="row">
                <label class="input">
                    Tile ratio
                    <input type="number" class="input__control" min="0" max="100"
                           v-model.number="custom.options.ratio" />
                    The ratio determines how many tiles will be added to the board. Zero means few tiles, 100 means
                    every square is covered. Note that 100% might take a while. Recommended is 70.
                </label>
            </div>
            <button class="button" type="button" @click="generate">Generate</button>
        </div>
    </div>
</div>

<script src="infinite/direction.js"></script>
<!-- Tiles -->
<script src="infinite/tiles/tile.js"></script>
<script src="infinite/tiles/cross.js"></script>
<script src="infinite/tiles/end.js"></script>
<script src="infinite/tiles/junction.js"></script>
<script src="infinite/tiles/line.js"></script>
<script src="infinite/tiles/none.js"></script>
<script src="infinite/tiles/turn.js"></script>
<script src="infinite/tiles/tile-factory.js"></script>

<!-- UI -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js" integrity="sha256-1Q2q5hg2YXp9fYlM++sIEXOcUb8BRSDUsQ1zXvLBqmA=" crossorigin="anonymous"></script>
<script src="site/site.js"></script>
</body>
</html>