$color-default: #1d314b;
$color-default-darker: #162539;

$app-bg: $color-default-darker;
$board-bg: $color-default;

$button-bg: $color-default;
$button-hover-bg: darken($color-default, 10%);
$button-disabled-bg: $color-default-darker;
$button-color: #f5f5f5;

$line-bg: #861e32;
$line-shadow: $color-default;

$tile-unsolved-bg: radial-gradient(rgba($line-bg, 0.3), $board-bg);

$modal-bg: $color-default-darker;
$modal-backdrop-bg: rgba(255, 255, 255, 0.2);
